@import url("main-font.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bariol Regular";
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5%;
  background: #5f27cd;
}
nav h3 {
  color: #fff;
}
nav .dropdown button {
  background: none;
  border: none;
}
nav .dropdown button:hover {
  background: #5f27cd;
}

.nav-lef, .nav-right {
  display: flex;
  align-items: center;
}

.user i {
  font-size: 30px;
}

.user {
  margin: 15px;
}

.search {
  background: #efefef;
  width: 300px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.search input {
  width: 100%;
  outline: none;
  padding: 5px;
  border: none;
  background: transparent;
}

.online {
  position: relative;
}

.online::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #41bd51;
  position: absolute;
  right: 0;
  bottom: 5px;
}

.nav-left ul li {
  list-style: none;
  display: inline-block;
}
.nav-left ul li img {
  height: 40px;
  margin-right: 10px;
}
.nav-left ul li i {
  font-size: 1.5em;
  color: #fff;
}

.coll {
  margin-top: 30px;
}
.coll ul {
  list-style: none;
}
.coll ul li {
  display: inline-block;
}
.coll ul li a {
  font-size: 14px;
}
.coll ul li h6 {
  margin-top: 10px;
  font-size: 12px;
}
.coll i {
  margin: 0 7px;
}
.coll img {
  width: 800px;
  height: 400px;
}
.coll p {
  margin-top: 20px;
  text-align: justify;
}
.coll p a {
  text-decoration: none;
}

.ramz {
  position: sticky;
  top: 0;
  background: #ddd;
}
.ramz p {
  font-size: 14px;
  padding: 0 3px;
}
.ramz p:hover {
  background: rgba(85, 84, 84, 0.938);
  border-left: 4px solid #000;
}
.ramz p a {
  text-decoration: none;
  color: #000;
  padding-left: 8px;
}
.ramz h4 {
  background: #343e55;
  font-size: 20px;
  padding: 8px 20px;
  color: #fff;
}
.ramz .gerb-img {
  height: 100px;
}

.mid {
  width: 100%;
  height: 50vh;
  background: url(../img/yan.jpg);
  background-size: cover;
  background-position: 0 bottom;
}

.nav-link h2 {
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
  color: #6587eb;
  font-weight: bold;
}
.nav-link .row {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.nav-link .row a {
  text-decoration: none;
  color: #000;
}
.nav-link .row a:hover {
  text-decoration: underline;
}
.nav-link .row img {
  width: 100px;
  height: 100px;
}
.nav-link .row ul {
  margin-top: 10px;
  padding: 10px 0;
}
.nav-link .row ul li {
  list-style: none;
  text-align: center;
}

.slick-slide img {
  width: 100%;
}

ul.sile {
  padding: 0;
}

.box-title {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  margin: 30px 0;
  color: #5f27cd;
  font-family: "Bariol Bold";
}

.mini-box {
  margin-bottom: 50px;
  position: relative;
  transition: all 0.5s ease;
}
.mini-box .mini-title {
  color: #5f27cd;
  font-family: "Bariol Bold";
  font-size: 1.2em;
  margin: 10px 0;
  background-color: #fff;
  padding: 15px 0;
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
}
.mini-box .mini-text {
  transition: all 0.5s ease;
  position: absolute;
  left: 0;
  right: 0;
}
.mini-box:hover {
  transition: all 0.5s ease;
}
.mini-box:hover .mini-text {
  top: 60px;
}
.mini-box:hover .mini-title {
  top: -10px;
}